{% macro rating(level, tag = "div") %}
	{% set name = level|capitalize ~ " Rating" %}
	<{{ tag }} class="seo--light {{ level }}" title="{{ name }}">
	{{ name }}
	</{{ tag }}>
{% endmacro %}

{% macro social(id, name, value, label, handle, url, icon) %}
	{% set this = value.social[handle] %}

{#
	<div class="seo--label">
		<div>
			<em>{{ label }}</em>
			{{ ("This is how the page will look when shared on " ~ label)|t }}
		</div>
	</div>

#}
	<div class="seo--social {{ handle }}">
		{{ icon|raw }}

		<div class="seo--social-preview">
			<a
				href="#"
				class="seo--social-preview-image{{ this.image ? ' has-image' }}"
				data-seo-social-image="{{ id|namespaceInputId }}"
				style="background-image:url({{ this.image ? this.image.url }})"
			>
				<input
					type="hidden"
					name="{{ name }}[social][{{ handle }}][image]"
					value="{{ this.image ? this.image.id }}"
				>
				<div class="upload-prompt">
					<svg width="59px" height="38px" viewBox="0 0 59 38" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g transform="translate(-604.000000, -385.000000)" fill="#BBC2C8" fill-rule="nonzero">
								<path d="M652.214062,400.991667 C652.214062,400.833333 652.240402,400.675 652.240402,400.516667 C652.240402,391.940278 645.418527,385 637.003125,385 C630.93192,385 625.716741,388.615278 623.267187,393.840278 C622.200446,393.299306 621.002009,392.982639 619.737723,392.982639 C615.852679,392.982639 612.612946,395.872222 611.993973,399.645833 C607.33192,401.255556 604,405.728472 604,410.993056 C604,417.616667 609.281027,423 615.78683,423 L629.285714,423 L629.285714,412.444444 L622.937946,412.444444 L633.5,401.400694 L644.062054,412.43125 L637.714286,412.43125 L637.714286,422.986806 L652.240402,422.986806 C658.19308,422.986806 663,418.038889 663,411.982639 C663,405.926389 658.166741,401.004861 652.214062,400.991667 Z"></path>
							</g>
						</g>
					</svg>
					<h4>Select an Image</h4>
					<p>If you don't select an image, the default (specified in
						the SEO settings) will be used if available.</p>
				</div>

				<span class="remove">Remove Image</span>
			</a>
			<div class="seo--social-preview-content">
				<input
					type="text"
					placeholder="This is the title of the page. You can edit it though"
					name="{{ name }}[social][{{ handle }}][title]"
					value="{{ this.title }}"
				/>
				<textarea
					placeholder="Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui."
					name="{{ name }}[social][{{ handle }}][description]"
					data-seo-social-desc="{{ id|namespaceInputId }}"
				>{{ this.description }}</textarea>
				<span>{{ url }}</span>
			</div>
		</div>
	</div>
{% endmacro %}

{% import _self as _ %}
{% import '_includes/forms' as _forms %}

<seo-tabs id="{{ id }}-tabs">
	<seo-tab role="heading" slot="tab">{{ 'Optimisation'|t }}</seo-tab>
	<seo-panel role="region" slot="panel">
		{# Snippet #}
		{% set snippet %}
			<div class="seo--panel seo--snippet">
				<div class="seo--snippet-wrap">
					<div class="seo--snippet-title" id="{{ id }}Title">
						{% for t in titleTemplate %}
							{% set v = value.titleRaw[t.key] ?? value.titleAsTokens[t.key] ?? t.template %}
							{% if t.locked %}
								<span class="seo--snippet-title-locked" data-key="{{ t.key }}">{{ v }}</span>
							{% else %}
								<span class="seo--snippet-title-editable" contenteditable="true" data-key="{{ t.key }}">{{ v }}</span>
								<input
									type="hidden"
									name="{{ name }}[titleRaw][{{ t.key }}]"
									value="{{ v }}"
								/>
							{% endif %}
						{% endfor %}
					</div>

					<span class="seo--snippet-url">
						{{ siteUrl }}
						{%- if not isHome -%}
							{%- set url = url|replace(siteUrl, '')|replace(slug, '')|trim('/') -%}
							{{- url ? url ~ '/' -}}
							<span id="{{ id }}Slug">{{ slug }}</span>
						{% endif %}
					</span>

					<textarea
						class="seo--snippet-description"
						name="{{ name }}[description]"
						rows="2"
						id="{{ id }}Description"
						placeholder="Click to add a description!"
					>{{ value.description }}</textarea>
				</div>

				<label class="seo--snippet-edit" for="{{ id }}Title">
					Click to edit
				</label>
			</div>
		{% endset %}

		{{ _forms.field({
			id: id ~ '-snippet',
			label: 'Snippet'|t,
			instructions: 'This is how the page might look in Google. Click the text to edit'|t,
		}, snippet) }}

		{# Focus Keywords #}
		{% set keywords %}
			{% if not hasPreview %}
			<div class="seo--preview-dependent">
			{% endif %}
				{# Keyword Input #}
				<input
					type="hidden"
					id="{{ id }}Keywords"
					name="{{ name }}[keywords]"
					value="{{ value.keywords|json_encode }}"
				>
				<input
					type="hidden"
					id="{{ id }}Score"
					name="{{ name }}[score]"
					value="{{ value.score }}"
				>
				<div class="seo--keywords-input" id="{{ id }}KeywordsInput">
					{# Keywords populated by magic #}

					{% if isPro %}
						<input placeholder="Type a keyword then hit enter to add...">
					{% else %}
						{# Only show if we've already got a keyword #}
						<input placeholder="Go pro to add more keywords!" disabled>
					{% endif %}
				</div>

				{# Keyword Details #}
				<div class="seo--panel">
					{# Keyword Details: Name #}
					<header class="seo--keywords-details-header">
						<h2 class="seo--keywords-details-keyword" id="{{ id }}Keyword">
							<em>No Keyword Selected</em>
						</h2>

						<div class="seo--keywords-details-rating" id="{{ id }}Rating">
							{{ _.rating("neutral") }}
							Not yet rated
						</div>
					</header>

					{# Keyword Details: Checklist #}
					<div class="seo--label">
						<div>
							<em>{{ "Optimisation Checklist"|t }}</em>
							{{ "Use this handy chart to optimise your page for the desired keywords"|t }}
						</div>
					</div>

					<div class="seo--keywords-details-bar" id="{{ id }}KeywordBar">
						<div class="good"></div>
						<div class="average"></div>
						<div class="poor"></div>
					</div>

					<ul class="seo--keywords-details-checklist" id="{{ id }}KeywordChecklist">
						<li style="text-align:center">
							No keyword selected
						</li>
					</ul>
				</div>
			{% if not hasPreview %}
			{# End .seo--preview-dependent #}
			</div>
			{% endif %}
		{% endset %}

		{{ _forms.field({
			id: id ~ '-keywords',
			label: 'Focus Keywords'|t,
			instructions: 'Add relevant key words and phrases to review the SEO page score'|t,
		}, keywords) }}
	</seo-panel>

	<seo-tab role="heading" slot="tab">{{ 'Social'|t }}</seo-tab>
	<seo-panel role="region" slot="panel">
		{% set social %}
			<div class="seo-social-cards">
				{% for key, value in value.social %}
					<seo-social-card>
						{% switch key %}
							{% case 'twitter' %}
								<svg viewBox="0 0 1200 1227" slot="logo">
									<path fill="#000" d="M714.16 519.28 1160.9 0h-105.86l-387.9 450.89L357.34 0H0l468.5 681.82L0 1226.37h105.87l409.62-476.15 327.18 476.15H1200L714.14 519.28h.02Zm-145 168.55-47.46-67.9L144 79.7h162.6l304.8 436 47.47 67.89 396.2 566.72h-162.6L569.16 687.85v-.02Z"/>
								</svg>
							{% case 'facebook' %}
								<svg viewBox="0 0 32 32" slot="logo">
									<g fill="none">
										<path fill="#3B5998" d="M32 30a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2C0 .9.9 0 2 0h28a2 2 0 0 1 2 2v28Z"/>
										<path fill="#FFF" d="M22 32V20h4l1-5h-5v-2c0-2 1-3 3-3h2V5h-4c-3.68 0-6 2.88-6 7v3h-4v5h4v12h5Z"/>
									</g>
								</svg>
						{% endswitch %}
						<input
							slot="image"
							type="hidden"
							name="{{ name }}[social][{{ key }}][image]"
							value="{{ value.image ? value.image.id }}"
						/>
						<textarea
							is="seo-textarea"
							slot="title"
							placeholder="This is the title of the page. You can edit it though"
							name="{{ name }}[social][{{ key }}][title]"
							rows="1"
						>{{ value.title }}</textarea>
						<textarea
							is="seo-textarea"
							slot="description"
							placeholder="Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur. Donec sed odio dui."
							name="{{ name }}[social][{{ key }}][description]"
							rows="2"
						>{{ value.description }}</textarea>
					</seo-social-card>
				{% endfor %}
			</div>
		{% endset %}
		{{ _forms.field({
			id: id ~ '-social',
			label: 'Social Cards',
			instructions: 'Alter how you want this page to appear when shared on social media',
		}, social) }}
	</seo-panel>

	<seo-tab role="heading" slot="tab">{{ 'Advanced'|t }}</seo-tab>
	<seo-panel role="region" slot="panel">
		{# Ahh! Robots! #}
		{% set robots %}
			{% set robotsValue = isNew ? defaultRobots : value.advanced.robots %}
			<div class="seo-robots">
				{% for handle, detail in {
					'noindex': 'Do not show this page in search results and do not show a "Cached" link in search results.',
					'nofollow': 'Do not follow the links on this page.',
					'noarchive': 'Do not show a "Cached" link in search results.',
					'nosnippet': 'Do not show a text snippet or video preview in the search results for this page. A static thumbnail (if available) will still be visible.',
					'notranslate': 'Do not offer translation of this page in search results.',
					'noimageindex': 'Do not index images on this page.',
				} %}
					{% set label %}
						<strong><code>{{ handle }}</code></strong>
						<span> - {{ detail }}</span>
					{% endset %}
					{{ _forms.lightswitch({
						name: name ~ "[advanced][robots][]",
						value: handle,
						on: handle in robotsValue,
						onLabel: label,
					}) }}
				{% endfor %}
			</div>
		{% endset %}

		{{ _forms.field({
			id: id ~ '-robots',
			label: 'Robots',
			instructions: 'Control how this page is indexed by crawlers (some of these are Google specific). If this element as an expiry date the `unavailable_after` directive will be set automatically.'
		}, robots) }}

		{# Canonical #}
		{{ _forms.textField({
			id: id ~ '-canonical',
			name: name ~ '[advanced][canonical]',
			value: value.advanced.canonical,
			type: 'url',
			placeholder: 'This must be a valid, absolute URL. i.e. https://mysite.com',
			label: 'Canonical',
			instructions: 'If this is not the canonical version of this page, add the canonical URL here. The current URL of the page will be used if this is left blank.',
		}) }}
	</seo-panel>
</seo-tabs>
