{# SEO Start #}
	{% if seo is not defined and entry is defined and entry["seo"] is defined %}
		{% set seo = entry.seo %}
	{% endif %}
	{% if seo is not defined or seo is null or seo.title == "" %}
		{% set seo = craft.seo.custom(siteName, '', false) %}
	{% endif %}

	<title>{{ seo.title }}</title>
	<meta name="description" content="{{ seo.description }}" />

	<meta property="og:title" content="{{ seo.title }}" />
	<meta property="og:url" content="{{ craft.request.url }}" />
	<meta property="og:site_name" content="{{ siteName }}" />
	<meta property="og:description" content="{{ seo.description }}" />

	<meta property="twitter:site" content="{# Your Twitter Handle (no @) #}" />
	<meta property="twitter:title" content="{{ seo.title }}" />
	<meta property="twitter:description" content="{{ seo.description }}" />
	<meta property="twitter:url" content="{{ craft.request.url }}" />

	<link rel="home" href="{{ siteUrl }}" />
	<link rel="canonical" href="{{ craft.request.url }}">
{# SEO End #}