{% if not hasSection %}
<div class="seo--field">
	<label>Snippet</label>
	<div class="instructions">This is how the page might look in Google. Click the text to edit.</div>

	<div class="seo--snippet nmb">
		<div class="inner">
			<input type="text" name="{{ name }}[title]" class="title{{ isNew or value is null ? ' clean' : '' }}"
			       title="Title" value="{{ value is not null ? value.title : titleSuffix }}" id="{{ id }}-title">

			<div class="url">{{ siteUrl }}...</div>

			<textarea title="Description" name="{{ name }}[description]" class="description"
			          rows="1" id="{{ id }}-description" placeholder="Click to add a description!"
			          oninput="this.style.height='';this.style.height=this.scrollHeight+'px';">{{ value is not null ? value.description : '' }}</textarea>
		</div>
	</div>

	<input type="hidden" name="{{ name }}[keyword]" value="">
	<input type="hidden" name="{{ name }}[score]" value="">
</div>
{% else %}
<div class="seo--field">
	<label>Snippet</label>
	<div class="instructions">This is how the page might look in Google. Click the text to edit.</div>

	<div class="seo--snippet">
		<div class="inner">
			<input type="text" name="{{ name }}[title]" class="title{{ isNew or value is null ? ' clean' : '' }}"
			       title="Title" value="{{ value is not null ? value.title : titleSuffix }}" id="{{ id }}-title">

			<div class="url">{{ url != '/' ? url : siteUrl }}{% if isNew %}.../{% endif %}{% if not isHome %}<span id="{{ id }}-slug"></span>{% endif %}</div>

			<textarea title="Description" name="{{ name }}[description]" class="description"
			          rows="1" id="{{ id }}-description" placeholder="Click to add a description!"
			          oninput="this.style.height='';this.style.height=this.scrollHeight+'px';">{{ value is not null ? value.description : '' }}</textarea>
		</div>
	</div>

	<label for="{{ id }}-keyword">Focus Keyword</label>
	<div class="instructions">We use this keyword to work out the relevance and score of your page</div>

	<input type="text" class="text fullwidth keyword" id="{{ id }}-keyword" name="{{ name }}[keyword]" value="{{ value is not null ? value.keyword : '' }}">

	<label>Page Score</label>
	<div class="instructions">Use this progress bar and detail view to discover the best ways of optimising your page.</div>

	<div class="seo--score-disabled hide">Sorry, the Page Score feature does not work when there is no Live Preview available.</div>
	<div class="seo--score disabled" id="{{ id }}-score">
		<div class="content">
			<div class="bar" id="{{ id }}-bar">
				<span class="item good"></span>
				<span class="item ok"></span>
				<span class="item bad"></span>
			</div>
			<div class="details">
				<ul class="details-inner" id="{{ id }}-list"></ul>
			</div>
		</div>

		<a class="toggle-score">
			<span class="open">View your score in detail</span>
			<span class="close">Minimize your score</span>
		</a>
	</div>

	<input type="hidden" name="{{ name }}[score]" value="{{ value is not null ? value.score : '' }}"  id="{{ id }}-score-field">
</div>
{% endif %}