{% extends "_layouts/cp" %}
{% set title = 'Redirects' %}
{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block saveButton %}
	<input type="hidden" name="action" value="seo/redirects/saveRedirects">

	<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
{% endblock %}

{% set redirectType = {
	'301': '301 (Permanent)',
	'302': '302 (Temporary)',
} %}

{% macro selectField(config) %}
	{%- set class = [
		'select',
		(config.class is defined ? config.class : null)
	]|filter|join(' ') %}

	{%- set options = (config.options is defined ? config.options : []) %}
	{%- set value = (config.value is defined ? config.value : null) %}

	<div class="{{ class }}">
		<select
				{%- if config.id is defined %} id="{{ config.id }}"{% endif %}
				{%- if config.toggle is defined and config.toggle %} class="fieldtoggle"{% endif %}
				{%- if config.name is defined %} data-name="{{ config.name }}"{% endif %}
				{%- if config.autofocus is defined and config.autofocus and not craft.request.isMobileBrowser(true) %} autofocus{% endif %}
				{%- if config.disabled is defined and config.disabled %} disabled{% endif %}
				{%- if config.targetPrefix is defined %} data-target-prefix="{{ config.targetPrefix }}"{% endif %}>
			{% for key, option in options %}
				{% set optionLabel = (option.label is defined ? option.label : option) %}
				{% set optionValue = (option.value is defined ? option.value : key) %}
				{% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
				<option value="{{ optionValue }}"{% if optionValue == value %} selected{% endif %}{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
			{% endfor %}
		</select>
	</div>
{% endmacro %}

{% import _self as ui %}

{% block content %}
	{% namespace namespace %}
	<div class="field">
		<div class="heading">
			<div class="instructions">
				Redirects support regex.
				To redirect from <code>blog/2016/my-post</code> to <code>news/my-post</code> you would add the following redirect:
				URI: <code>blog/([0-9]{4})/(.*)</code> To: <code>news/$2</code>
			</div>
		</div>

		<br>

		<div class="input">
			<input type="hidden" name="redirects" id="redirects-field">

			<table class="shadow-box editable" id="redirects">
				<thead>
					<tr>
						<th class="header">URI</th>
						<th class="header">To</th>
						<th class="header">Type</th>
						<th class="header"></th>
					</tr>
				</thead>
				<tbody>
					<tr class="hidden" data-id="-1">
						<td class="textual">
							<textarea rows="1" style="height:46px" data-name="redirects-uri"></textarea>
						</td>
						<td class="textual">
							<textarea rows="1" style="height:46px" data-name="redirects-to"></textarea>
						</td>
						<td class="thin">
							{{ ui.selectField({
								name: 'redirects-type',
								options: redirectType,
								value: '301'
							}) }}
						</td>
						<td class="thin action">
							<a class="delete icon" title="Delete"></a>
						</td>
					</tr>

				{% for redirect in redirects %}
					<tr data-id="{{ redirect.id }}">
						<td class="textual">
							<textarea rows="1" style="height:46px" data-name="redirects-uri">{{ redirect.uri }}</textarea>
						</td>
						<td class="textual">
							<textarea rows="1" style="height:46px" data-name="redirects-to">{{ redirect.to }}</textarea>
						</td>
						<td class="thin">
							{{ ui.selectField({
								name: 'redirects-type',
								options: redirectType,
								value: redirect.type|default('301')
							}) }}
						</td>
						<td class="thin action">
							<a class="delete icon" title="Delete"></a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

			<div class="btn add icon" tabindex="0" id="addRedirect">Add a Redirect</div>
		</div>
	</div>
	{% endnamespace %}
{% endblock %}