{% set changeFrequencyOpts = {
	'always': 'Always',
	'hourly': 'Hourly',
	'daily': 'Daily',
	'weekly': 'Weekly',
	'monthly': 'Monthly',
	'yearly': 'Yearly',
	'never': 'Never',
} %}

{% set priorityOpts = {
	'1.0': '1.0 (High)',
	'0.9': '0.9',
	'0.8': '0.8',
	'0.7': '0.7',
	'0.6': '0.6',
	'0.5': '0.5 (Default)',
	'0.4': '0.4',
	'0.3': '0.3',
	'0.2': '0.2',
	'0.1': '0.1',
	'0.0': '0.0 (Low)',
} %}

{{ forms.textField({
	label: 'Sitemap Name',
	instructions: 'The name of your sitemap file. It will be found at ' ~ siteUrl ~ '<code id="sitemapNameExample">' ~ (settings.sitemapName is defined ? settings.sitemapName : '') ~ '</code>.xml',
	name: 'sitemapName',
	id: 'sitemapName',
	value: settings.sitemapName is defined ? settings.sitemapName : ''
}) }}

<div class="field">
	<div class="heading">
		<label>Sections</label>
		<div class="instructions">How should we handle each section?</div>
	</div>
	<div class="input">
		<input type="hidden" name="sections" value="">

		<table class="shadow-box editable">
			<thead>
			<tr>
				<th class="header">Section</th>
				<th class="header">URL Format</th>
				<th class="header" style="white-space:nowrap">Change Frequency</th>
				<th class="header">Priority</th>
				<th class="header">Enabled?</th>
			</tr>
			</thead>
			<tbody>
				{% for section in sections %}
				<tr>
					<td style="text-align:left;">
						<strong>{{ section.name }}</strong>
						<input type="hidden" name="sections[{{ section.id }}]" value="">
					</td>
					<td style="text-align:left;">{{ section.isHomepage () ? '/' : section.urlFormat }}</td>
					<td class="thin" style="text-align:left;">
						{{ forms.selectField({
							name: "sections["~section.id~"][frequency]",
							options: changeFrequencyOpts,
							value: settings.sections[section.id].frequency|default('weekly')
						}) }}
					</td>
					<td class="thin">
						{{ forms.selectField({
							name: "sections["~section.id~"][priority]",
							options: priorityOpts,
							value: settings.sections[section.id].priority|default('0.5')
						}) }}
					</td>
					<td class="thin">
						{{ forms.checkbox({
							name: "sections["~section.id~"][enabled]",
							value: true,
							checked: settings.sections[section.id].enabled
						}) }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<div class="field">
	<div class="heading">
		<label>Custom URLs</label>
		<div class="instructions">Add additional URLs that may not appear in Craft (i.e. public templates). <strong>Do not include {{ siteUrl }}</strong></div>
	</div>
	<div class="input">
		<input type="hidden" name="customUrls" value="">

		<table class="shadow-box editable" id="customUrls">
			<thead>
			<tr>
				<th class="header">URL</th>
				<th class="header" style="white-space:nowrap">Change Frequency</th>
				<th class="header">Priority</th>
				<th class="header">Enabled?</th>
				<th class="header"></th>
			</tr>
			</thead>
			<tbody>
				<tr class="hidden" data-id="{i}">
					<td class="textual">
						<input type="hidden" name="customUrls[{i}]" value="">
						<textarea rows="1" style="height:46px" name="customUrls[{i}][url]"></textarea>
					</td>
					<td class="thin" style="text-align:left;">
						{{ forms.selectField({
							name: 'customUrls[{i}][frequency]',
							options: changeFrequencyOpts,
							value: 'weekly'
						}) }}
					</td>
					<td class="thin">
						{{ forms.selectField({
							name: 'customUrls[{i}][priority]',
							options: priorityOpts,
							value: '0.5'
						}) }}
					</td>
					<td class="thin">
						{{ forms.checkbox({
							name: 'customUrls[{i}][enabled]',
							value: true,
							checked: true
						}) }}
					</td>
					<td class="thin action">
						<a class="delete icon" title="Delete"></a>
					</td>
				</tr>

				{% for custom in settings.customUrls %}
					<tr data-id="{{ loop.index }}">
						<td class="textual">
							<input type="hidden" name="customUrls[{{ loop.index }}]">
							<textarea rows="1" style="height:46px" name="customUrls[{{ loop.index }}][url]">{{ custom.url }}</textarea>
						</td>
						<td class="thin" style="text-align:left;">
							{{ forms.selectField({
								name: 'customUrls['~loop.index~'][frequency]',
								options: changeFrequencyOpts,
								value: custom.frequency|default('weekly')
							}) }}
						</td>
						<td class="thin">
							{{ forms.selectField({
								name: 'customUrls['~loop.index~'][priority]',
								options: priorityOpts,
								value: custom.priority|default('0.5')
							}) }}
						</td>
						<td class="thin">
							{{ forms.checkbox({
								name: 'customUrls['~loop.index~'][enabled]',
								value: true,
								checked: custom.enabled
							}) }}
						</td>
						<td class="thin action">
							<a class="delete icon" title="Delete"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="btn add icon" tabindex="0" id="addCustomUrl">Add a URL</div>
	</div>
</div>