{% import "_includes/forms" as forms %}

{{ forms.textField({
	label: 'Title Suffix',
	instructions: 'A string appended, after a space, to the page title. This can be removed on a per-entry basis.',
	name: 'titleSuffix',
	id: 'titleSuffix',
	value: settings.titleSuffix is defined ? settings.titleSuffix : ''
}) }}

{% macro readField (forms, field, isChecked) %}
	<div class="readabiltiy-row" style="margin:5px 0">
		<div class="icon move"></div>
		<label>
			&nbsp;
			{{ forms.checkbox({
				name: "readability[]",
				value: field.value,
				checked: isChecked
			}) }}
			&nbsp;
			{{ field.label }}
		</label>
	</div>
{% endmacro %}

{% import _self as _ %}

<div class="field" id="readability">
	<div class="heading">
		<label>Readability Check</label>
		<div class="instructions">What fields should the plugin look for when determining readability? The order of the
			fields dictates the order they would appear on a page, and the order in which the plugin reads them.</div>
	</div>

	<div class="input">
		<input type="hidden" name="readability">
		{% for field in settings.readability %}
			{% if fields[field] is defined %}
				{% set f = fields[field] %}
				{{ _.readField(forms, f, true) }}
			{% endif %}
		{% endfor %}
		{% for field in unsetFields %}
			{{ _.readField(forms, field, false) }}
		{% endfor %}
	</div>
</div>