{% macro rating(level, tag = "div") %}
	{% set name = level|capitalize ~ " Rating" %}
	<{{ tag }} class="seo--light {{ level }}" title="{{ name }}">
		{{ name }}
	</{{ tag }}>
{% endmacro %}

{% import _self as _ %}

<div class="seo--wrap" id="{{ id }}Field">
	<nav class="seo--tabs" id="{{ id }}Tabs">
		<a href="#" data-seo-tab="optimisation" class="active">{{ "Optimisation"|t }}</a>
		<a href="#" data-seo-tab="social">{{ "Social"|t }}</a>
	</nav>

	<div id="{{ id }}Pages">
		<div class="seo--tab active" data-seo-tab="optimisation">

			{# Snippet #}
			<div class="seo--label">
				<div>
					<em>{{ "Snippet"|t }}</em>
					{{ "This is how the page might look in Google. Click the text to edit"|t }}
				</div>
			</div>

			<div class="seo--panel seo--snippet">
				<div class="seo--snippet-wrap">
					<input type="text"
					       class="seo--snippet-title{{ isNew or value is null ? ' clean' : '' }}"
					       value="{{ value is not null ? value.title : titleSuffix }}"
					       name="{{ name }}[title]"
					       id="{{ id }}Title"
					       placeholder="SEO Title">

					<span class="seo--snippet-url">
						{{ url != '/' ? url : siteUrl }}
						{%- if not isHome and not isSingle -%}
							<span id="{{ id }}Slug">...</span>
						{% endif %}
					</span>

					<textarea
							class="seo--snippet-description"
							name="{{ name }}[description]"
							rows="2"
							id="{{ id }}Description"
							placeholder="Click to add a description!"
					>{{ value is not null ? value.description : '' }}</textarea>
				</div>

				<label class="seo--snippet-edit" for="{{ id }}Title">
					Click to edit
				</label>
			</div>

			{# Focus Keywords #}
			<div class="seo--label">
				<div>
					<em>{{ "Focus Keywords"|t }}</em>
					{{ "Add relevant key words and phrases to review the SEO page score"|t }}
				</div>
				<div id="{{ id }}Suggested">
					<small>{{ "Suggested keywords"|t }}</small>
					<a href="#">TODO</a>
					<a href="#">Digital Agency Kent</a>
				</div>
			</div>

			{# Keyword Input #}
			<input type="hidden" id="{{ id }}Keywords"
			       name="{{ name }}[keywords]"
			       value="{{ value is not null ? value.keywords : "" }}">
			<input type="hidden" id="{{ id }}Score" name="{{ name }}[score]"
			       value="{{ value is not null ? value.score : "neutral" }}">
			<div class="seo--keywords-input" id="{{ id }}KeywordsInput">
				{# Keywords populated by magic #}

				{% if isPro %}
					<input placeholder="Type a keyword then hit enter to add...">
				{% else %}
					{# Only show if we've already got a keyword #}
					<input placeholder="Go pro to add more keywords!" disabled>
				{% endif %}
			</div>

			{# Keyword Details #}
			<div class="seo--panel">

				{# Keyword Details: Name #}
				<header class="seo--keywords-details-header">
					<h2 class="seo--keywords-details-keyword"
					    id="{{ id }}Keyword">
						<em>No Keyword Selected</em>
					</h2>

					<div class="seo--keywords-details-rating"
					     id="{{ id }}Rating">
						{{ _.rating("neutral") }}
						Not yet rated
					</div>
				</header>

				{# Keyword Details: Checklist #}
				<div class="seo--label">
					<div>
						<em>{{ "Opitmisation Checklist"|t }}</em>
						{{ "Use this handy chart to optimise your page for the desired keywords"|t }}
					</div>
				</div>

				<div class="seo--keywords-details-bar"
				     id="{{ id }}KeywordBar">
					<div class="good"></div>
					<div class="average"></div>
					<div class="poor"></div>
				</div>

				<ul class="seo--keywords-details-checklist"
				    id="{{ id }}KeywordChecklist">
					<li style="text-align:center">
						No keyword selected
					</li>
				</ul>
			</div>
		</div>

		<div class="seo--tab" data-seo-tab="social">
			TODO: Social Previews
		</div>
	</div>
</div>