{% macro rating(level, tag = "div") %}
	{% set name = level|capitalize ~ " Rating" %}
	<{{ tag }} class="seo--light {{ level }}" title="{{ name }}">
		{{ name }}
	</{{ tag }}>
{% endmacro %}

{% import _self as _ %}

<div class="seo--wrap">
	<nav class="seo--tabs" id="{{ id }}Tabs">
		<a href="#" data-seo-tab="optimisation" class="active">{{ "Optimisation"|t }}</a>
		<a href="#" data-seo-tab="social">{{ "Social"|t }}</a>
		<a href="#" data-seo-tab="report">{{ "Keyword Report"|t }}</a>
	</nav>

	<div id="{{ id }}Pages">
		<div class="seo--tab active" data-seo-tab="optimisation">

			{# Snippet #}
			<div class="seo--label">
				<div>
					<em>{{ "Snippet"|t }}</em>
					{{ "This is how the page might look in Google. Click the text to edit"|t }}
				</div>
			</div>

			<div class="seo--panel seo--snippet">
				<div class="seo--snippet-wrap">
					<input type="text"
					       class="seo--snippet-title{{ isNew or value is null ? ' clean' : '' }}"
					       value="{{ value is not null ? value.title : titleSuffix }}"
					       name="{{ name }}[title]"
					       id="{{ id }}Title"
					       placeholder="SEO Title">

					<span class="seo--snippet-url">
						{{ siteUrl }}...
					</span>

					<textarea
							class="seo--snippet-description"
							name="{{ name }}[description]"
							rows="2"
							id="{{ id }}Description"
							placeholder="Click to add a description!"
							oninput="this.style.height='';this.style.height=this.scrollHeight+'px';"
					>{{ value is not null ? value.description : '' }}</textarea>
				</div>

				<label class="seo--snippet-edit" for="{{ id }}Title">
					Click to edit
				</label>
			</div>

			{# Focus Keywords #}
			<div class="seo--label">
				<div>
					<em>{{ "Focus Keywords"|t }}</em>
					{{ "Add upwards of 4 relevant key words and phrases to review the SEO page score"|t }}
				</div>
				<div id="{{ id }}Suggested">
					<small>{{ "Suggested keywords"|t }}</small>
					<a href="#">Kent Design Agency</a>
					<a href="#">Digital Agency Kent</a>
				</div>
			</div>

			{# Keyword Input #}
			<div class="seo--keywords-input" id="{{ id }}KeywordsInput">
				<a href="#">
					{{ _.rating("good", "span") }}
					Web Design Agency
					<object>
						<a href="#" title="Remove">Remove</a>
					</object>
				</a>

				<a href="#" class="active">
					{{ _.rating("average", "span") }}
					Digital Agency
					<object>
						<a href="#" title="Remove">Remove</a>
					</object>
				</a>

				{% if isPro %}
					<input placeholder="Type a keyword then hit enter to add...">
				{% else %}
					{# Only show if we've already got a keyword #}
					<input placeholder="Go pro to add more keywords!" disabled>
				{% endif %}
			</div>

			{# Keyword Details #}
			<div class="seo--panel">

				{# Keyword Details: Name #}
				<header class="seo--keywords-details-header">
					<h2 class="seo--keywords-details-keyword">
						Digital Agency
					</h2>

					<div class="seo--keywords-details-rating">
						{{ _.rating("average") }}
						Room for improvement
					</div>
				</header>

				{# Keyword Details: Checklist #}
				<div class="seo--label">
					<div>
						<em>{{ "Opitmisation Checklist"|t }}</em>
						{{ "Use this handy chart to optimise your page for the desired keywords"|t }}
					</div>
				</div>

				<div class="seo--keywords-details-bar">
					<div class="good" style="width:30%"></div>
					<div class="average" style="width:50%"></div>
					<div class="poor" style="width:20%"></div>
				</div>

				<ul class="seo--keywords-details-checklist">
					<li>
						{{ _.rating("good") }}
						<p>The title is between the recommended minimum and
						   maximum length.</p>
					</li>

					<li>
						{{ _.rating("average") }}
						<p>Half or more of the images have alt tags containing
						   the keyword. To improve this, try adding keywords to
						   all the images alt tags.</p>
					</li>

					<li>
						{{ _.rating("poor") }}
						<p>The Flesch Reading ease score is 17.3 which is
						   considered best for university graduates. Try
						   reducing your sentence length to improve
						   readability.</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="seo--tab" data-seo-tab="social">
			TODO: Social Previews
		</div>

		<div class="seo--tab" data-seo-tab="report">
			TODO: Keyword Report
		</div>
	</div>
</div>